<div class="navbar">
  <div class="row">
    <div class="col-xs-6 col-sm-2">
      <h3> Je cherche un cours </h3>
    </div>
    <div class="col-xs-6 col-sm-2">
      <h3> Je propose un cours </h3>
    </div>
  </div>
</div>

