.banner {
  background-color: #2F3B60;
  background-size: cover !important;
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  color: #ECB7A8;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 70px;
}
